/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */

  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  margin: .67em 0;

  font-size: 2em;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */

  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b, strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code, kbd, samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub, sup {
  position: relative;

  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button, input, optgroup, select, textarea {
  margin: 0; /* 2 */

  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button, input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button, select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button, [type='button'], [type='reset'], [type='submit'] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner, [type='button']::-moz-focus-inner, [type='reset']::-moz-focus-inner, [type='submit']::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring, [type='button']:-moz-focusring, [type='reset']:-moz-focusring, [type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: .35em .75em .625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  display: table; /* 1 */
  box-sizing: border-box; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */

  color: inherit; /* 2 */

  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type='checkbox'], [type='radio'] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type='number']::-webkit-inner-spin-button, [type='number']::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type='search'] {
  outline-offset: -2px; /* 2 */

  -webkit-appearance: textfield; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  font: inherit; /* 2 */

  -webkit-appearance: button; /* 1 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

/**
 * Reset
 */
html {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

*, *:after, *:before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

/**
 * Estilos personales
 */

body {
  background: #c9d6ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #e2e2e2, #c9d6ff);  /* Chrome 10-25, Safari 5.1-6 */
  background:         linear-gradient(to right, #e2e2e2, #c9d6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-family: 'Roboto', sans-serif;
}

.graphs-container {
  display: flex;
}
.form-container {
  width: 100%;
}
.form-container fieldset {
  border: 1px solid #fff;
  margin: 8px;
}

.form-container legend {
  padding: 8px;

  text-align: center;
}

.comments {
  box-shadow: 1px 1px 3px rgba(0,0,0,.3);
  width: 80%;
  padding: 0 40px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin: 0 auto;
  margin-bottom: 20px;

  background-color: #ecf0f1;
}

.questions {
  display: flex;

  flex-direction: row;
  flex-wrap: wrap;
}

.questions__option {
  width: 50%;
  padding: 8px 0;
}

/**
 * Components
 */

.container {
  width: 85%;
  padding: 16px;
  margin: 0 auto;
}

.card {
  width: 100%;
  border: 1px solid #cacaca;
  border-radius: 8px;
  margin: 0 auto 16px auto;
}
.card__header {
  padding: 0;
  border-radius: 7px 7px 0 0;
  margin: 0;

  background: #ccc;
  color: #423e3e;
}
.card__header, .card__body {
  padding: 10px 15px 10px 15px;
}

.profile {
  width: 260px;
  height: 180px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 10px 0;

  text-align: center;
}

.profile__picture {
  height: 75%;
  border-radius: 8px 8px 0 0;

  background: #ffa500;
}

.profile__name {
  display: flex;
  width: 100%;
  height: 25%;

  font-size: 18px;
  text-align: center;

  align-items: center;
  justify-content: center;
}

.input {
  position: relative;

  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: 32px;
  padding: 4px 11px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  margin: 0;

  background-color: #fff;
  background-image: none;
  color: rgba(0,0,0,.65);

  font-variant: tabular-nums;
  line-height: 1.5;

  list-style: none;
  transition: all .3s;

  -webkit-font-feature-settings: 'tnum';
          font-feature-settings: 'tnum';
}

.btn {
  position: relative;

  display: inline-block;
  box-shadow: 0 2px 0 rgba(0,0,0,.015);
  padding: 4px 16px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  margin: 10px 0;

  background-color: #fff;
  color: rgba(0,0,0,.65);

  line-height: 1.499;
  text-align: center;
  white-space: nowrap;

  cursor: pointer;
  outline: 0;
  transition: all .3s ease;
}
.btn:hover {
  border-color: #40a9ff;

  background-color: #40a9ff;
  color: #fff;
}
.btn:active {
  box-shadow: 0 0 18px 0 rgba(0,0,0,.045), 0 0 12px 0 #75baf9ed, 0 0 42px #fff;
}
.btn__primary {
  display: flex;
  box-shadow: 0 2px 0 rgba(0,0,0,.045);
  border-color: #1890ff;

  background-color: #1890ff;
  color: #fff;

  text-shadow: 0 -1px 0 rgba(0,0,0,.12);

  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.btn-bouncing-loader {
  position: absolute;
  top: 14px;
}
@keyframes bouncing-loader {
  to {
    opacity: .1;
    transform: translate3d(0, -1rem, 0);
  }
}
.bouncing-loader {
  display: flex;

  justify-content: center;
}
.bouncing-loader > div {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  /* margin: 3rem .2rem; */

  background: #fdfdfd;

  animation: bouncing-loader .6s infinite alternate;
}
.bouncing-loader > div:nth-child(2) {
  animation-delay: .2s;
}
.bouncing-loader > div:nth-child(3) {
  animation-delay: .4s;
}

/**
 *  Utils
 */
.w80 {
  width: 80%;
}
.w90 {
  width: 90%;
}
.divider {
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}

.flex-center-column {
  display: flex;
  width: 100%;

  align-items: center;
  flex-direction: column;
  justify-content: center;
}
