*{
	 box-sizing: border-box;
    font-family: 'Raleway';
    text-decoration: none;
	margin: 0px;
	padding: 0px;
}

body{
	margin: 0;
	font-family: sans-serif;
	background: #204862;
	/*background-image: url('../imagenes/fondo4.jpg');*/
}
.div_header{
	background: white;
}
header{
	display: flex;
	flex-wrap: wrap;
	padding: 6px 10px;
	background: deepskyblue;

}
.cerrar_sesion{
	text-align: center;
	background: black;
	color: white;
	margin: auto;
	width: 10%;
	border-radius: 10px;
	padding: 9px;
	font-size: 18px;
	cursor: pointer;
	font-size: 20px;
}
h1{
	width: 90%;
	color: white;
}

.form-register{
	max-width: 900px;
	margin: auto;
	background: white;
	border-radius: 7px;
	padding-top: 0px;
	margin-top: 20px;
}
.form_titulo{
	background: deepskyblue;
	color: #fff;
	padding: 10px;
	text-align: center;
	font-size: 30px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	border-bottom: 5px solid crimson;
	margin-bottom: 20px;
}

.contenedor-inputs{
	padding: 0px 20px;
	display: flex;
	flex-wrap: wrap;
}
input{
	margin-bottom: 10px;
	padding: 10px;
}
.input_preguntas{
	margin-top: 0px;
 	width: 71%;
 	font-size: 16px;
 	margin-left: 5%;
}
 p{
 	width: 80%;
 	margin: 0px;
	padding: 10px;
 }
 label{
 	width: 10%;
 	margin: 0px;
	padding: 10px;
 }
 .label_escala{
 	margin: 0px;
	padding: 6px;
 }
 select{
 	margin: 0px;
 	margin-left: 1.4%;
	padding: 10px;
	margin-top: 0px;
 	font-size: 16px;
 	text-align: center;
 	margin-bottom: 10px;
 }
 .select_dpto{
	width: 17.5%;
 }
 .select_estatus{
 	width: 90%;
 	margin:0 5% 10px 5%;
 }
 table{
	background: white;
	text-align: center;
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 20px;
}
th, td{
	border:	solid 1px black;
	padding: 10px;	
}
thead{
	background: #04B45F;
	border-bottom: solid 3px;
}
 
#input_boton{
	color: #fff;
	margin: auto;
	width: 40%;
	border-radius: 10px;
	margin-bottom: 15px;
	padding: 9px;
	font-size: 18px;
	cursor: pointer;
}
#input_boton2{
	float: left; 
	color: #fff;
	margin: auto;
	width: 46%;
	border-radius: 10px;
	padding: 5px;
	font-size: 16px;
	cursor: pointer;
	margin: 0 2%;
}
.enviar{
	background: #04B45F;
}
.modificar{
	background: #3498DB;
}
.cancelar{
	text-align: center;
	background: crimson;
}
.delete{
	background: crimson;;
}
p{
	font-size: 18px;
}
h3{
	text-align: center;
}