*{
	 box-sizing: border-box;
    font-family: 'Raleway';
    text-decoration: none;
	margin: 0px;
	padding: 0px;
}

body{
	margin: 0;
	font-family: sans-serif;
	background: #204862;
	/*background-image: url('../imagenes/fondo4.jpg');*/
}
.div_header{
	background: white;
}
header{
	display: flex;
	flex-wrap: wrap;
	padding: 6px 10px;
	background: deepskyblue;

}
.cerrar_sesion{
	text-align: center;
	background: black;
	color: white;
	margin: auto;
	width: 10%;
	border-radius: 10px;
	padding: 9px;
	font-size: 18px;
	cursor: pointer;
	font-size: 20px;
}
h1{
	width: 90%;
	color: white;
}
#filtrar{
	margin-top: 6px;
	margin-left: 11%;
	margin-right: 1%; 
}
#send_todos{
	margin-top: 6px;
	margin-left: 16%;
	margin-right: 1%; 
}

.form-register{
	max-width: 1200px;
	margin: auto;
	background: white;
	border-radius: 7px;
	padding-top: 0px;
	margin-top: 20px;
}
.form_titulo{
	background: deepskyblue;
	color: #fff;
	padding: 10px;
	text-align: center;
	font-size: 30px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	border-bottom: 5px solid crimson;
	margin-bottom: 20px;
}

.contenedor-inputs{
	padding: 0px 30px;
	display: flex;
	flex-wrap: wrap;
}
input{
	margin-bottom: 10px;
	padding: 10px;
}
.input_id{
	margin-left: 5%;
	width: 10%;
	font-size: 16px;
}
.input_cliente{
margin-left: 1.5%;
width: 40%;
font-size: 16px;
}
.input_razon{
margin-left: 1.5%;
width: 37%;
font-size: 16px;
}
.input_contacto{
margin-left: 5%;
width: 33%;
font-size: 16px;
}
.input_email{
margin-left: 1.5%;
width: 35%;
font-size: 16px;
}
.select_ejecutivo{
width: 19%;
margin-left: 1.5%;
font-size: 16px;
}
 
 select{
	padding: 10px;
 	font-size: 16px;
 	margin-bottom: 10px;
 	margin-right: 10px;
 }
 table{
	background: white;
	text-align: center;
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 20px;
}
th, td{
	border:	solid 1px black;
	padding: 10px;	
}
.tr{
	margin: 0px;
	padding: 0px;
}
.action{
	min-width: 200px;
}
thead{
	background: #04B45F;
	border-bottom: solid 3px;
}
 
#input_boton{
	color: #fff;

	width: 35%;
	border-radius: 10px;
	margin-bottom: 15px;
	padding: 9px;
	font-size: 18px;
	cursor: pointer;
	
}
#input_boton2{
	float: left;
	margin: auto;
	color: #fff;
	width: 46%;
	border-radius: 10px;
	padding: 5px;
	font-size: 16px;
	cursor: pointer;
	margin: 0 2%;
}
#btn_buscar{
	color: #fff;
	border-radius: 10px;
	padding: 5px;
	font-size: 16px;
	cursor: pointer;
	background: #3498DB;
	width: 100px;
}
.enviar{
	background: #04B45F;
	margin-left: 10%;
	margin-right: 5%;
}
.send{
	background: #3498DB;
}
.cancelar{
	text-align: center;
	background: crimson;
	margin-right: 10%;
	margin-left: 5%;
}
.delete{
	background: crimson;
}
p{
	font-size: 18px;
}