*{
	 box-sizing: border-box;
    font-family: 'Raleway';
    text-decoration: none;
    margin: 0px;
	padding: 0px;
}

body{
	margin: 0;
	font-family: sans-serif;
	background: #204862;
	/*background-image: url('../imagenes/fondo4.jpg');*/
}
.div_header{
	background: white;
}
header{
	display: flex;
	flex-wrap: wrap;
	padding: 6px 10px;
	background: deepskyblue;

}
.cerrar_sesion{
	text-align: center;
	background: black;
	color: white;
	margin: auto;
	width: 10%;
	border-radius: 10px;
	padding: 9px;
	font-size: 18px;
	cursor: pointer;
	font-size: 20px;
}
h1{
	width: 90%;
	color: white;
}

.form-register{
	max-width: 560px;
	margin: auto;
	background: white;
	border-radius: 7px;
	padding-top: 0px;
	margin-top: 20px;
}
.form_titulo{
	background: deepskyblue;
	color: #fff;
	padding: 10px;
	text-align: center;
	font-size: 30px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	border-bottom: 5px solid crimson;
}

.contenedor-inputs{
	padding: 0px 30px;
	display: flex;
	flex-wrap: wrap;
}
input{
	margin-bottom: 5px;
	padding: 10px;
}
.input_cliente{
	margin-top: 0px;
 	width: 100%;
 	font-size: 16px;
}
.input_empleado{
 	width: 100%;
 	font-size: 16px;
 }
 p{
 	width: 80%;
 	margin: 0px;
	padding: 10px;
 }
 .p_texto{
 	width: 100%;
 	text-align: center;
 }
 }
 label{
 	width: 10%;
 	margin: 0px;
	padding: 10px;
 }
 .label_escala{
 	width: 100%;
 	margin: 0px;
	padding: 6px;
 }

.buton_panel{
	background: crimson;
	color: #fff;
	margin: auto;
	width: 100%;
	border-radius: 10px;
	margin-top: 7px;
	margin-bottom: 7px;
	padding: 9px;
	font-size: 20px;
	cursor: pointer;
	text-align: center
}
