*{
	 box-sizing: border-box;
    font-family: 'Raleway';
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body{
	
	font-family: sans-serif;
	background: #204862;
	/*background-image: url('../imagenes/fondo4.jpg');*/
}
.div_header{
	background: white;
	
}
header{
	display: flex;
	flex-wrap: wrap;
	padding: 6px 10px;
	background: deepskyblue;
}
.cerrar_sesion{
	text-align: center;
	background: black;
	color: white;
	margin: auto;
	width: 10%;
	border-radius: 10px;
	padding: 9px;
	font-size: 18px;
	cursor: pointer;
	font-size: 20px;
}
h1{
	width: 90%;
	color: white;
}
.form-register{
	max-width: 700px;
	margin: auto;
	background: white;
	border-radius: 7px;
	padding-top: 0px;
	margin-top: 20px;
}
.form_titulo{
	background: deepskyblue;
	color: #fff;
	padding: 10px;
	text-align: center;
	font-size: 30px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	border-bottom: 5px solid crimson;
	margin-bottom: 20px;
}

.contenedor-inputs{
	padding: 0px 30px;
	display: flex;
	flex-wrap: wrap;
}
input{
	margin-bottom: 20px;
	padding: 10px;
}
select{
	margin-bottom: 20px;
	margin-left: 10px;
	padding: 10px;
}
.input_ejecutivo{
	margin-top: 0px;
 	width: 80%;
 	font-size: 16px;
}
.select_estatus{
	margin-top: 0px;
 	width: 18%;
 	font-size: 16px;
}
table{
	background: white;
	text-align: center;
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 20px;
}
th, td{
	border:	solid 1px black;
	padding: 10px;	
}
thead{
	background: #04B45F;
	border-bottom: solid 3px;
}
 
#input_boton{
	color: #fff;
	margin: auto;
	width: 40%;
	border-radius: 10px;
	margin-bottom: 20px;
	padding: 9px;
	font-size: 18px;
	cursor: pointer;
}
.enviar{
	background: #04B45F;
}
.cancelar{
	background: crimson;
}
