*{
	 box-sizing: border-box;
    font-family: 'Raleway';
    text-decoration: none;
}

body{
	margin: 0;
	font-family: sans-serif;
	background: #0C2340;
	/*background-image: url('../imagenes/fondo4.jpg');*/
}
.radioContainer{
  margin-left: 5px;
  position: relative;
  cursor: pointer;
  font-size: 17px;
  user-select: none;
  padding-left: 22px;
  
}
.radioContainer input{
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #eee;
  position: absolute;
  left: -5px;
  top: 20%;
  border: 1px solid #2C3E50;
  border-radius: 50%;
  border-color: #85929E;
}
.radioContainer .circle{
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #eee;
  position: absolute;
  left: 0px;
  top: 25%;
  border: 1px solid #2C3E50;
  border-radius: 50%;
  border-color: #85929E;
}
.radioContainer:hover .circle{
  background-color: #eee;
}
.radioContainer input:checked + .circle{
  background-color: #2196fc;
}
.radioContainer input:checked + .circle:after{
  content:"";
  height: 8px;
  width: 8px;
  background-color: white;
  position: absolute;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

h1{
	color: #fff;
	text-align: center;
}
h3{
	text-align: center;
}
.form-register{
	max-width: 560px;
	margin: auto;
	background: white;
	border-radius: 7px;
	padding-top: 0px;
}
.form_titulo{
	background: #58697E;
	color: #fff;
	padding: 10px;
	text-align: center;
	font-weight: 100;
	font-size: 30px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}
.form-register input[type="radio"]{
	cursor: pointer;
}

.select_dpto{
	padding: 6px;
 	font-size: 16px;
 	margin: 0px;
 	margin-bottom: 10px;
 	margin-left: 12px;
 }
 
 .div_radio1{
 	width: 100%;
 	border-style: solid;
 	border-color: #58697E;
 	margin-bottom: 8px;
 }
input{
	margin-bottom: 5px;
	padding: 10px;
}
.contenedor-inputs{
	padding: 0px 30px;
	display: flex;
	flex-wrap: wrap;
}
.contenedor-texto{
	display: flex;
	flex-wrap: wrap;
	width: 94%;
	margin-left: 3%;
	font-size: 18px;
	cursor: pointer;
}
#contenedor_ultimo{
	margin-bottom: 10px;
}	
 p{
 	width: 100%;
 	margin: 0px;
	padding: 10px;
	font-size: 18px;
 }
 .p_texto{
 	width: 100%;
 	text-align: center;
 }
 .p_escala{
 	width: 100%;
 	text-align: center;

 }
 .p_escala1-10{
 	width: 100%;
 	font-weight: 600;
 }
 label{
 	width: 10%;
 	margin: 0px;
	padding: 10px;
 }
 .label_escala{
 	width: 100%;
	padding: 7px;
	cursor: pointer;
 }
 

.input_enviar{
	background: crimson;
	color: #fff;
	margin: auto;
	width: 50%;
	border-radius: 10px;
	margin-bottom: 15px;
	padding: 9px;
	font-size: 18px;
	cursor: pointer;
}


@media (max-width:1124px) and (min-width:640px){
p{
		font-size: 16px;
		padding-bottom: 5px;
	}
  .radioContainer{
    font-size: 16px;
  }
  .radioContainer input{
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #eee;
  position: absolute;
  left: -5px;
  top: 20%;
  border: 1px solid #2C3E50;
  border-radius: 50%;
  border-color: #85929E;
}
}
@media (max-width: 640px){
	p{
		font-size: 9px;
		padding-bottom: 5px;
	}
	.radioContainer{
 	margin: 0px;
  position: relative;
  cursor: pointer;
  font-size: 9px;
  user-select: none;
  padding-left: 15px;
  padding-right: 7px;
 }
 .radioContainer input{
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: #eee;
  position: absolute;
  left: -5px;
  top: 20%;
  border: 1px solid #2C3E50;
  border-radius: 50%;
  border-color: #85929E;
}
 .radioContainer .circle{
  margin-top: 0.5px;
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: #eee;
  position: absolute;
  left: 0px;
  top: 25%;
  border: 1px solid #2C3E50;
  border-radius: 50%;
  border-color: #85929E;
}

.radioContainer input:checked + .circle:after{
  content:"";
  height: 4.5px;
  width: 4.5px;
  background-color: white;
  position: absolute;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
 .contenedor-texto{
	display: flex;
	flex-wrap: wrap;
	width: 94%;
	margin-left: 3%;
	font-size: 9px;
	cursor: pointer;
}
.select_dpto{
	padding: 0px;
 	font-size: 10px;
 	margin-top: 0px;
 	margin-bottom: 10px;
 	margin-left: 12px;
 }
 .input_enviar{
	background: crimson;
	color: #fff;
	margin: auto;
	width: 50%;
	border-radius: 10px;
	margin-bottom: 15px;
	padding: 5px;
	font-size: 14px;
	cursor: pointer;
}

}
