*{
	box-sizing: border-box;
    font-family: 'Raleway';
    text-decoration: none;
}

body{
	font-family: sans-serif;
	background-image: url('../imagenes/fondo.jpg');
	/*background: #204862;*/
	margin-top: 16vh;

}
h1{
	color: #fff;
	text-align: center;
}

.form-register{
	width: 50%;
	max-width: 400px;
	margin: auto;
	background: white;
	border-radius: 7px;


}
.form_titulo{
	background: deepskyblue;
	color: #fff;
	padding: 20px;
	text-align: center;
	font-size: 30px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	border-bottom: 5px solid crimson;
}

.contenedor-inputs{
	padding: 5px 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
input{
	margin-bottom: 5px;
	padding: 15px;
	font-size: 16px;
}
.input_cliente{
	margin-bottom: 5px;
	padding: 15px;
 	width: 100%;
}
.input_enviar{
	background: crimson;
	color: #fff;
	width: 100%;
	border-radius: 20px;
	margin: 10px 5px;
	padding: 9px;
	cursor: pointer;
}
.input_enviar{
	transform: scale(1.08);
}
