*{
	box-sizing: border-box;
    font-family: 'Raleway';
    text-decoration: none;
}

body{
	margin: 0;
	/*background: #204862;
	background-image: url('../imagenes/fondo.jpg');*/
	background: #0C2340;
	margin-top: 20vh;
	@font-face {font-family: "Courier New";  
src: url(http://www.rinconcillo.com/fonts/cour.ttf)} 
	
}
h1{
	color: #fff;
	text-align: center;
}

.form-register{
	width: 95%;
	max-width: 500px;
	margin: auto;
	
}
.form_titulo{
	background: #58697E;
	color: #fff;
	padding: 20px;
	text-align: center;
	font-size: 30px;
	border-radius: 7px;
}


